@{
    ViewData["Title"] = "ConfirmLoginGG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center align-items-start vh-100 py-5">
    <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
        <h2 class="text-center text-primary">Tài khoản chưa được kích hoạt</h2>
        <p class="text-center text-muted">
            Vui lòng nhập số điện thoại để tiếp tục đăng nhập vào hệ thống.
        </p>
        <form>
            <div class="mb-3">
                <label for="inputSdt" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="inputSdt" placeholder="Nhập số điện thoại">
            </div>
            <button onclick="ConfirmSdt()" type="button" class="btn btn-primary w-100">Xác nhận</button>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thành công!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Đăng ký thành công.
            </div>

            <div class="modal-footer">
                <button id="buttonCloseModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="failModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="failModalLabel">Đăng ký thất bại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Số điện thoại đã được sử dụng để đăng ký một tài khoản khác!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var token = '@Model';

        if (token) {
            localStorage.setItem("accessToken", token);
            window.location.href = '/Home/Index';
        }
    });

    document.getElementById("buttonCloseModal").addEventListener("click", function () {
        window.location.href = '/Home/Index';
    });

    function ConfirmSdt() {
        var sdt = $("#inputSdt").val();

        $.ajax({
            url: "/User/ConfirmLoginGG",
            type: "POST",
            data:
            {
                phoneNumber: sdt,
            },
            success: function (result) {

                if (result.success) {
                    // lưu token vào localStorage
                    localStorage.setItem("accessToken", result.token);
                    // console.log(localStorage.getItem("accessToken"));
                    $('#successModal').modal('show');
                } else if (!result.success) {
                    $('#failModal').modal('show');
                }
            },
            error: function (result) {
                alert("ERROR");
            }
        });
    }

</script>
